<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Le serveur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- add bulma from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bulma@1.0.3/css/bulma.min.css" rel="stylesheet">
</head>
<body>

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Bienvenue sur le serveur de KickMyB
            </h1>
            <h2 class="subtitle">
                Incluant la documentation de l'API
            </h2>
            <p th:text="|Yo, ${message}!|" />
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <h1 class="title">API pour les tâches</h1>

        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="box">
                    <h2 class="subtitle">Documentation Swagger pour le serveur</h2>
                    <a href="swagger-ui/index.html">Page HTML</a>
                    <br>
                    <a href="v3/api-docs">Fichier JSON</a>
                    <br>
                    <a href="v3/api-docs.yaml">Fichier YAML</a>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="box">
                    <h2 class="subtitle">Lien vers la console h2</h2>
                    <a href="/h2-console">Console d'admin de la BD</a>
                    <ul>
                        <li>changer JDBC URL par jdbc:h2:file:./db/proditos </li>
                        <li>User Name: sa</li>
                        <li>Password: (vide)</li>
                        <li>Appuyer sur Connect</li>
                    </ul>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="box">
                    <h2 class="subtitle">Demo de page MVC en Spring Boot</h2>
                </div>
                <div class="box">
                    <ul>
                        <li>Pour les curieux on a un exemple de MVC avec Spring Boot</li>
                        <li>Le contrôleur ControllerDemoMVC contient la méthode <strong>index</strong> qui répond en GET sur la racine du site (<strong>/</strong>)</strong></li>
                        <li>Si le type de retour est String sans annotation, cela indique à Spring Boot de chercher un gabarit html</li>
                        <li>Si on retourne <strong>index</strong> Spring Boot va chercher un gabarit index.html dans les ressources statiques</li>
                        <li>le fichier index.html est un gabarit ThymeLeaf</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>