<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Le serveur</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- add bulma from CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bulma@1.0.3/css/bulma.min.css" rel="stylesheet">
</head>
<body>

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Bienvenue sur le serveur de KickMyB
            </h1>
            <h2 class="subtitle">
                Incluant la documentation de l'API
            </h2>
            <p th:text="|Yo, ${message}!|" />
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">API pour les comptes</h1>

        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="box">
                    <h2 class="subtitle">Créer un compte :: POST /id/inscription</h2>
                    <pre><code class="json">
{
  "nom" : "MrPipo",
  "motDePasse" : "pipo",
  "confirmationMotDePasse" : "pipo"
}
                    </code></pre>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="box">
                    <h2 class="subtitle">Se connecter avec un compte existant :: POST /id/connexion</h2>
                    <pre><code class="json">
{
  "nom" : "MrPipo",
  "motDePasse" : "pipo"
}
                    </code></pre>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="box">
                    <h2 class="subtitle">Se déconnecter :: POST /id/deconnexion</h2>
                    <pre><code class="json"></code></pre>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="title">API pour les tâches</h1>

        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="box">
                    <h2 class="subtitle">Ajouter une tâche au compte actuel (nécessite d'être connecté) :: POST /tache/ajout</h2>
                    <pre><code class="json">
{
  "name" : "test",
  "deadline" : "2069-05-24T12:12:12"
}

                    </code></pre>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="box">
                    <h2 class="subtitle">Voir les tâches du compte actuel (nécessite d'être connecté) :: GET /tache/accueil</h2>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="box">
                    <h2 class="subtitle">Voir le détail d'une tâche :: GET /tache/detail/{id}</h2>
                </div>
                <div class="box">
                    <h2 class="subtitle">Mettre à jour le % d'avancement :: GET /tache/progres/{id}/{valeur}</h2>
                    <p>id est l'identifiant de la tâche et valeur est la nouvelle valeur d'avancement.</p>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>